<!DOCTYPE html>
<html>
<head><title></title></head>
<body>
<h1 id="login-title">Please log in</h1>
<form action="login" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="hidden" name="loginChallenge" th:value="${loginChallenge}">
    <table>
        <tr>
            <td><input type="email" id="email" name="email" value="" placeholder="foo@bar.com"></td>
            <td>(it's "foo@bar.com")</td>
        </tr>
        <tr>
            <td><input type="password" id="password" name="password"></td>
            <td>(it's "foobar")</td>
        </tr>
    </table>
    <input type="checkbox" id="remember" name="remember" value="1">
    <label for="remember">Remember me</label><br>
    <input type="submit" id="accept" name="submit" value="Log in">
    <input type="submit" id="reject" name="submit" value="Deny access">
</form>
</body>
</html>